<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hans</string>
	<key>CFBundleDisplayName</key>
	<string>NSpace</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
				<string>public.volume</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>NSpace</string>
	<key>CFBundleIconFile</key>
	<string>NSpace</string>
	<key>CFBundleIconName</key>
	<string>NSpace</string>
	<key>CFBundleIdentifier</key>
	<string>com.nspace.NSpace</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hans</string>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>NSpace</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.nspace.NSpace.scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nspace</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>NSpace 需要访问桌面以浏览和管理其中的文件。</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>NSpace 需要访问文稿以浏览和管理其中的文件。</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>NSpace 需要访问下载以浏览和管理其中的文件。</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 snakesammy</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>NSpace 需要访问网络卷以浏览和管理其中的文件。</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>NSpace 需要访问外置磁盘以浏览和管理其中的文件。</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>用 NSpace 打开</string>
			</dict>
			<key>NSMessage</key>
			<string>openInNSpace</string>
			<key>NSPortName</key>
			<string>NSpace</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
</dict>
</plist>
